{% extends 'web/base.html' %}

<!-- alert messages -->
<!-- {% if messages %} -->
        <!-- {% for message in messages %} -->
            <!-- <div class="alert">{{ message }}</div> -->
        <!-- {% endfor %} -->
    <!-- {% endif %} -->

{% block content %}
     <div id="map" style="height: 600; width: 600;"></div>

     <script>
        var map = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
     </script>

{% endblock %}   