{% extends 'web/base.html' %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
{% endif %}

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<div id="map" style="height: 1200px; width: 1920px;"></div>

<script>
  var map = L.map('map').setView([51.505, -0.09], 13);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; OpenStreetMap'
  }).addTo(map);
</script>


{% endblock %}
